{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container mt-5 h-100">
    <div class="row h-100">
        <div id="home-greeting" class="col-12 col-sm-6 col-lg-7 mt-auto">
            <h1 class="display-4 logo-font text-black">
                Welcome to LastLife! The home of classic video games and hardware!
            </h1>
            <div class="my-5">
                <h3>
                    <a href="{% url 'products' %}" class="browse-button btn btn-lg btn-black rounded-0 text-uppercase py-3">Browse Now</a>
                </h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}