<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black me-5" href="{% url 'home' %}" id="home-link">
                <h4>Home</h4>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black me-5" href="#" id="all-products-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <h4>All Products</h4>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black me-5" href="#" id="games-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <h4>Games</h4>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="games-link">
                <a href="{% url 'products' %}?genre=action" class="dropdown-item">Action</a>
                <a href="{% url 'products' %}?genre=adventure" class="dropdown-item ">Adventure</a>
                <a href="{% url 'products' %}?genre=roleplaying" class="dropdown-item ">Role-Playing</a>
                <a href="{% url 'products' %}?genre=racing" class="dropdown-item">Racing</a>
                <a href="{% url 'products' %}?genre=sports" class="dropdown-item">Sports</a>
                <a href="{% url 'products' %}?genre=action,adventure,role-play,racing,sports" class="dropdown-item">All Games</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black me-5" href="#" id="platforms_accessories-link"
            role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <h4>Platforms &amp; Accessories</h4>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="platforms_accessories-link">
                <a href="{% url 'products' %}?category=games" class="dropdown-item">Games</a>
                <a href="{% url 'products' %}?category=consoles" class="dropdown-item">Consoles</a>
                <a href="{% url 'products' %}?category=accessories" class="dropdown-item">Accessories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <h4>Promotions</h4>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?promotion=Spring22" class="dropdown-item">Spring 2022</a>
            </div>
        </li>
    </ul>
</div>